<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'formstyle.css' %}">
    <title>{% block title %}Careplus - Roomform{% endblock %}</title>
    <link rel="website icon" type="png" href="{% static 'careplus_logo1.png' %}">
</head>
<body>
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="topic">Topic:</label>
                <input type="text" class="form-control" id="topic" name="topic" required>
            </div>
            <div class="form-group">
                <label for="room_name">Room Name:</label>
                <input type="text" class="form-control" id="room_name" name="room_name" required>
            </div>
            <div class="form-group">
                <label for="room_description">Room Description:</label>
                <textarea class="form-control" id="room_description" name="room_description" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back();">Cancel</button>
        </form>
    </div>
</body>
</html>